<div class="address-block">
    <div class="address">
        <div class="title-add">
            <h3 class="h3">Corporate Office</h3>
        </div>
       <div class="address-inner">
        {{shop.address}}
       </div>
       <div class="conatct-number">
           <span>Toll Free No :</span><span> {{shop.phone}}</span>
       </div>
       <div class="email"><span>Email :</span> {{shop.email}}</div>
    </div>
    <div class="map">   
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.545769221021!2d72.8534636139822!3d19.171350453952364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6409bb776eb%3A0x64447e0045e3c951!2sOlympia%20Industries%20Limited!5e0!3m2!1sen!2sin!4v1632826460656!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>