<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Home">Home</a>
  {% if template contains 'collection' and collection.handle %}
    <span aria-hidden="true">&rsaquo;</span>
    <span class="active-page brand-active-page">{{ collection.title }}</span>
 	{% endif %}
   {% if template contains 'blog' %}
   <span class="active-page brand-active-page">{{ blog.title }}</span>  
   {% endif %}
</nav>  