<div class="cart-shadow">
<p class="cart-attribute__field">
  <label>Gift Wrap</label>
  <input type="hidden" name="attributes[Gift Wrap]" value="No">
  <input type="checkbox" name="attributes[Gift Wrap]" value="Yes"{% if cart.attributes["Gift Wrap"] == "Yes" %} checked{% endif %}>
</p>
</div>