<div class="header-zipcode">
  <div class="cutomer-wrap">
   
    <div class="wrap-inner">
     {% comment %} <span class="customer-name">
     Deliver To {% if customer %} {{customer.first_name | capitalize | append: ' ' }} {% endif %} </span> {% endcomment %}
      <span class="pin-city-wrapper"> <div class="icon-location">{% render 'component-map-icon' %}</div><span class="customer-city"></span><span class="customer-pincode">Enter Your Pincode</span></span>
    </div>
    {% if template contains 'cart' %}
      <button class="accent-bg pincode_check button">Check</button>
    {% endif %}
  </div>
</div>