<div class="header-zipcode">

  {% assign btnText = 'Check' %}
  {% assign btnclass = 'pincode-submit' %}
  {% if template contains 'product'  %}
  {% assign btnText = 'Apply' %}
  {% endif %}
  {% assign mapIcon = false %}
  {% if template contains 'cart' %}
  {% assign mapIcon = true %}
  {% assign btnclass = 'accent-bg pincode_check button' %}

  {% endif %}
  <!-- {% assign variable = value %}
  {% assign variable = value %} -->
  <div class="cutomer-wrap">
   
    <div class="wrap-inner">
     {% comment %} <span class="customer-name">
     Deliver To {% if customer %} {{customer.first_name | capitalize | append: ' ' }} {% endif %} </span> {% endcomment %}
      <span class="pin-city-wrapper">
        {% if mapIcon == true %}
        <div class="icon-location">{% render 'component-map-icon' %}</div>
        {% endif %}
         <span class="customer-city"></span><span class="customer-pincode">Enter Pincode</span>
        </span>
    </div>
      <button class="{{btnclass}} " style="width: 50%;margin-top: 1px;">{{btnText}}</button>
  </div>
</div>