
<div class="globo-formbuilder" data-id=61738 ></div>

<style>
  .globo-form-app .globo-form-control.layout-1-column{
  	width: 100%;
    display: flex;
  }
  label.classic-label.globo-label {
    width: 20%;
}
  .globo-form-app.boxed-layout {
  	box-shadow:none;
  }
  .globo-formbuilder[data-id="61738"] .globo-form-app {
    max-width: 80%;
  }
  .globo-form-app .header .title {
    text-align: center;
    text-transform: uppercase;
  }
  h3.title.globo-heading::after {
    content: '';
    position: absolute;
    max-width: 150px;
    width: 100%;
    height: 2px;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    z-index: 12;
    border: 0!important;
    background: #f58634;
  }
  .globo-form-app .globo-form-control input, .globo-form-app .globo-form-control select, .globo-form-app .globo-form-control textarea {
  	background-color: white;
    border: 1px solid #938E94;
  }
</style>