<!-- Start Snippet product-additional-information-->
<div class="additional-info">
    
  <div class="additional-info-title">
    <h3>Additional Information</h3>
  </div>
  <div class="table">
    <div class="table-title left-space">Product details</div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Product Dimensions</div>
      <div class="table-col-info left-space">6.2 x 6.2 x 24.5 cm 580 Grams</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Date First Available</div>
      <div class="table-col-info left-space">3 Jan 2021</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">SKU Code</div>
      <div class="table-col-info left-space">B800SGAJM01</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Item part number</div>
      <div class="table-col-info left-space">UMAGRa0019823</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Country of origin</div>
      <div class="table-col-info left-space">India</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Item Weight</div>
      <div class="table-col-info left-space">580g</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Item Dimensions LxWxH</div>
      <div class="table-col-info left-space">6.2 x 6.2 x 24.5 cm</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Net Quantity</div>
      <div class="table-col-info left-space">500ml</div>
    </div>
    <div class="table-title left-space">Important Information</div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Ingredients</div>
      <div class="table-col-info left-space">Alovera amala juice</div>
    </div>
    <div class="table-row grid">
      <div class="table-col-title left-space">Directions</div>
      <div class="table-col-info left-space">As per rewuirement</div>
    </div>
   
  </div>
</div>
<!-- End Snippet product-additional-information-->

<style>
.table{
  border: 2px solid #e4e4e4;
}
  .table-title {
    border-bottom: 1px solid #e4e4e4;
    font-weight: 700;
    color: #9D9D9D;
    padding-top:10px;
}
  .table-row.grid{
  	margin-left:0rem;
    margin-bottom:0rem;
  }
  .table-col-title {
    width: 30%;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
  .table-col-info {
    border-bottom: 1px solid #e4e4e4;
    width: 70%;
    word-break: break-word;
}
  .left-space {
    padding-left: 20px;
}
  hr{
  margin:2rem 0;
  }
  .additional-info-title h3 {
    font-weight: 700;
    color: #7C7C7C;
}
</style>