<!-- start backgroun-with-tetx-->
<section class="section-{{ section.id }}">
  <div class="image-with-text  color-scheme-background-1">
  </div>

</section>
<!-- End backgroun-with-tetx-->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
