<!-- start backgroun-with-tetx-->
<section class="section-{{ section.id }}">
  <div class="image-with-text  color-scheme-background-1">
     <div class="page-width">
        {% if section.settings.heading != blank %}
          <div class="heading">
            <h2 class="title">{{ section.settings.heading}}</h2>
          </div>
        {% endif %}
    </div>
  </div>

</section>
<!-- End backgroun-with-tetx-->


{% schema %}
  {
    "name": "bg with images",
    "settings": [
					{
                      "id": "background-image",
                      "type": "image_picker",
                      "label": "Choose images for background"
                    },
					{
                      "id": "heading",
                      "type": "text",
                      "label": "Enter heading"
                    }

				],
"blocks":[
          {
            "type":"image",
            "name":"image-block",
			"limit":3,
            "settings":[
							{
                              "id":"image",
                              "type":"image_picker",
                              "label":"your image"
                            },
							{
                              "id":"title",
                              "type":"html",
                              "label":"your title"
                            },
							{
                              "id":"description",
                              "type":"html",
                              "label":"your description"
                            }
          				]
          }
        ],
"presets": [
{
"name": "bg with images",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}