<!-- start backgroun-with-tetx-->
<section class="section-{{ section.id }}">
  

</section>
<!-- End backgroun-with-tetx-->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
