<div class="container-faq">
    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when 'card' -%}
                {% assign card_id = block.settings.card-id %}
            <div class="faq-card">
                <h3 class="h3">{{block.settings.card-id}}</h3>
            {% for block in section.blocks %}
                {%- case block.type -%}
                    {%- when 'faq' -%}
                        {% assign faq-id = block.settings.card-id %}
                    {% if faq-id == card-id %}
                        <div class="faq-inner">
                            <div class="question">{{block.settings.question}}</div>
                            <div class="answer">{{block.settings.answer}}</div>
                        </div>
                    {% endif %}
                        
                {%- endcase -%}
            {% endfor %}
            </div>
                
        {%- endcase -%}
    {% endfor %}
</div>
{% schema %}
{
  "name": "faq",
  "tag": "section",
  "class": "spaced-section",
  "max_blocks": 60,
  "settings": [
    {
      "type": "color",
      "id": "card-color",
      "default": "#ccc",
      "label": "Card Background Color"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "limit": 7,
      "settings": [
     
        {
          "type": "text",
          "id": "card-id",
          "label": "Card Id"
        }
      ]
    },
    {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "card-id",
            "label": "Card Id"
          },
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "text",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
          "type": "address",
          "name":"address_block"
      }
  ] 
   , "presets": [
  {
      "category": "faq",
      "name":"FAQ"
  }
]
}
{% endschema %}

