<div class="map-with-num-aanimation" >
  <div class="img-wrapper"><img src="" alt="map"></div>
  <div class="num-animation-wrtapper">
<!--   {% for block in section.blocks %}
    <div class="animation-block">
    </div>  
    
  {% endfor %} -->
    <div>
      <p>Cities</p>
     <span class="counter">1,234,567.00</span>
<span>$</span><span class="counter">1.99</span>
<span class="counter">12345</span>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Map With Number Aniamtion",
"class":"section-map-with-num-aanimation",
    "settings": [],
"presets":[{
"category":"Maps",
"name":"Map With Number Animation"
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
