<div class="map-with-num-aanimation" >
  <div class="img-wrapper"><img src="" alt="map"></div>
  <div class="num-animation-wrtapper">
  {% for block in section.blocks %}
    <div class="animation-block">
    </div>  
    
  {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Map With Number Aniamtion",
"class":"section-map-with-num-aanimation",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
