<div class="map-with-num-aanimation" >
  <div class="img-wrapper"><img src="" alt="map"></div>
  <div class="num-animation-wrtapper grid grid--1-col grid--2-col-tablet grid--4-col-desktop">
    {% for block in section.blocks %}
    <div class="animation-block grid__item">
      <span class="counter">{{block.settings.text}}</span> <span>{{block.settings.text-after-number}}</span>
      <h3>{{block.settings.heading}}</h3>
    </div>  
    {% endfor %}
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      $('.counter').counterUp({
        delay: 10,
        time: 1000
      });
    </script>
{% schema %}
  {
    "name": "Map With Number Aniamtion",
"class":"section-map-with-num-aanimation",
    "settings": [],

  "blocks": [
    {
      "type": "text-block",
      "name": "Text Block",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Number",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "number",
          "id": "text",
          "default": 245,
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
{
          "type": "richtext",
          "id": "text-after-number",
          "label": "Text After Number"
        }
      ]
    }
    
    
  ],
"presets":[
    {
     "name":"Map With Number Animation",
      "blocks": [
        {
          "type": "text-block"
        },
        {
          "type": "text-block"
        },
{
          "type": "text-block"
        },
        {
          "type": "text-block"
        }
      ]
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
