<div class="map-with-num-aanimation" ></div>

{% schema %}
  {
    "name": "Map With Number Aniamtion",
"class":"section-map-with-num-aanimation",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
