<div class="navigation">
    <div class="left-nav">
        {%- assign left-nav = linklists[section.settings.left-nav] -%}
    </div>
    <div class="logo"></div>
    <div class="right-nav">
        {%- assign right-nav = linklists[section.settings.right-nav] -%}
        <ul class="list-menu list-menu--inline">
            {%- for link in right-nav.links -%}
                
            {%- endfor -%}
        </ul>
    </div>
</div>
{% schema %}
{
    "name": "navigation",
    "class": "navigation",
    "settings": [
    {
        "type": "header",
        "content": "bottom-nav"
    },
      {
          "type": "link_list",
          "id": "left-nav",
          "label": "left nav"
      },
      {
          "type": "link_list",
          "id": "right-nav",
          "label": "right nav",
          "default": "",
          "info": ""
      }
      
    ],
   
    
}
  {% endschema %}
  