<style>
.slider-header{
    text-align: center;
    margin-bottom: 70px;
}
.slider-header .title{
    margin: 0;
    font-size: 40px;
    font-weight: 700;

}
.slider-slide{
    padding: 0 20px;
}
.slider-slide .pro-wrapper{
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 10px;
}
.pro-wrapper .price *{
    margin: 0 ;
}
.pro-wrapper{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
.pro-wrapper .card-wrapper,.pro-wrapper .card-wrapper .card--product{
    flex: 1;
}
.pro-wrapper .card-wrapper .full-unstyled-link{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.slider-slide.slick-current .pro-wrapper{
    background-color:#ec7a24;
}
.slider-slide.slick-current .card-information__text,.slider-slide.slick-current .price,.slick-current .ssw-icon-heart:before ,.slick-current .ssw-icon-heart-o:before{
    color: #fff;
}
.slider-slide .price__sale{
    display: none;
}
.products-slider{
    background-image: url('https://cdn.shopify.com/s/files/1/0591/8192/4552/files/Untitled-2_7f63f67d-5aa9-4b26-ad78-c1108503aa05.png?v=1638154482');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -29px;
}
</style>
<div class="products-slider page-width">
    <div class="slider-header">
        <h2 class="title accent">{{section.settings.title}}</h2>
        <p class="subtext">{{section.settings.description}}</p>
    </div>
    <div class="slider">
        {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
                {%- assign collection = collections[block.settings.collection] -%}
                {% for product in collection.products %}
                    <div class="slider-slide">
                        <div class="pro-wrapper">
                            {% render 'product-card',
                            product_card_product: product,
                            media_size: 'square',
                            show_secondary_image: false,
                            add_image_padding: false,
                            show_vendor: false
                          %}
                          {% render 'price', product:product,product-badges:'hide' , price_class: '' %}
                        </div>
           
                    </div>
                {% endfor %}
                {% else %}
                <div class="slider-slide">
                {%- assign product = all_products[block.settings.product] -%}
                    
                  <div class="pro-wrapper">
                    {% render 'product-card',
                    product_card_product: product,
                    media_size: 'square',
                    show_secondary_image: false,
                    add_image_padding: false,
                    show_vendor: false
                  %}
                  {% render 'price', product:product,product-badges:'hide' ,price_class: '' %}
                  </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% schema %}
{ 
     "name": "Product Carousel",
"class":"product-carousel spaced-section",
"settings": [
                {
                  "id": "description",
                  "type": "text",
                  "label": "Our Combo"
                },
                {
                    "id": "title",
                    "type": "text",
                    "label": "Our Combo"
                  }
            ],
    "blocks":[
    {
        "type": "Slide",
        "name": "Product Slide",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Pick Product"
          },
          {
              "type": "collection",
              "id": "collection",
              "label": "Pick collection",
              "info": "choose collection hear form which products will be shown please make sure you can choose only one thing either collection or product  "
          }
        ]
      }
    ],
    "presets": [
    {
        "name": "Product Carousel",
        "category":"slider"

    }
  ]
    
}
{% endschema %}