<!-- start section safety measure -->
<section class="section-{{section.id}}">
  <div class="image-with-text  color-scheme-background-1">
  
  </div>
</section>
<!-- End section safety measure  -->


{% schema %}
  {
    "name": "safety measure ",
    "settings": [
					{
                      "id": "background-color",
                      "type": "color",
                      "label": "Choose color for background"
                    },
					{
                      "id": "heading",
                      "type": "text",
                      "label": "Enter heading"
                    }

				],
"blocks":[
          {
            "type":"image",
            "name":"image-block",
			"limit":6,
            "settings":[
							{
                              "id":"image",
                              "type":"image_picker",
                              "label":"your image"
                            },
							{
                              "id":"title",
                              "type":"html",
                              "label":"your title"
                            },
							{
                              "id":"description",
                              "type":"html",
                              "label":"your description"
                            }
          				]
          }
        ],
"presets": [
{
"name": "safety measure ",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
 
</style>
