<section class="section-{{ section.id }}">
  <div class="image-with-text  color-scheme-background-1">
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  .section-{{section.id}} .image-with-text{
    background-color:{{ section.settings.background-color }};
  }
</style>
