<div>
    <h3>{{section.settings.title}}</h3>
    <div class="wrapper">
        <div class="icon-card">
            <div class="icon">
                <a href="">
                    <span class="icon"></span>
                </a>
            </div>
            <div class="icon-name">

            </div>
        </div>
        <div class="icon-card">
            <div class="icon">
                <a href="">
                    <span class="icon"></span>
                </a>
            </div>
            <div class="icon-name">

            </div>
        </div>
        <div class="icon-card">
            <div class="icon">
                <a href="">
                    <span class="icon"></span>
                </a>
            </div>
            <div class="icon-name">

            </div>
        </div>
        <div class="icon-card">
            <div class="icon">
                <a href="">
                    <span class="icon"></span>
                </a>
            </div>
            <div class="icon-name">

            </div>
        </div>
        
    </div>
</div>

{% schema %}
{
  "name": "social connect",
  "class": "spaced-section",
  "settings":[
    {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Social Connect"
        
    }
    

  ]
}
{% endschema %}