.widget-trending-product .products-grid .grid-item{
    margin: 0 6px;
  }
  .recently-viewed-products .slick-arrow{
    position: absolute;
    top: 35%;
    z-index: 22;
  }
  .body--cart .recently-viewed-products-bg.page-width{
    padding: 0;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
  }
  .slick-dots button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: transparent;
    padding: 0;
    border: 0;
    background: #878787;
  }
  .slick-active button{
    background:var(--color-pincode-validator);
  }
  .recently-viewed-products .slick-next{
   right: -15px;
  }
  .recently-viewed-products .slick-prev{
    left: -15px;
  }
  .recently-viewed-products .slick-arrow .fa:before{
    color: var(--color-pincode-validator);
    font-size: 50px;
  }

  .recently-viewed-products-bg{
    width: 100%;
    box-shadow: none;
  }
   .recently-viewed-products .product-label,.recently-viewed-products .product-des,.recently-viewed-products .product-bottom .product-title{
    display: none!important;
  }
  .product-top{
    width: auto!important;
    height: auto!important;
  }
  .recently-viewed-products.not-homepage .inner-top{
    padding: 10px 5px 0 10px!important;
  }
  .recently-viewed-products .price-box{
    margin: 0px !important;
  }
  .products-grid .grid-item .product-title{
     margin: 5px 0;
  }
  .recently-viewed-products .slick-track{
      min-width: 100%;
  }
  .recently-viewed-products .recent-price{
font-size: 18px;
color: var(--color-pincode-validator);
  }
  .recently-viewed-products .recent-price-text{
    font-size: 12px;
  }
  .recent-product-title{
   font-size: 15px;
  text-decoration: none;
  color: inherit;
  }
