.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border:1px solid #000;
  position: relative;
}
.newsletter-form *{
box-shadow:none !important;
  border:0 !important;
}
#NewsletterForm--footer,.newsletter-form__button:hover{
box-shadow:none !important;
}
.footer-block--newsletter .footer-block__heading{
font-size: 3.4rem;
font-weight:normal;  
}
.newsletter-form__field-wrapper input{
background: #fff;
color:#000;
}
@media screen and (min-width: 750px) {
  .newsletter-form {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 70rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    bottom: -65%;
  }
}

.newsletter-form__button {
 padding:0;
 border: 0;
 box-shadow: none; 
}

@media screen and (max-width: 989px) {
  .newsletter-form__button {
    width: 100%;
   
  }
}
