.pincodes{
    display:none;
    }
    .popup-pincode-error-invalid,.popup-pincode-error{
        display:none;margin:0;color:red
        }    

.popup-zipcode a{
    text-decoration: none;
    color: var(--color-pincode-validator);
}
.popup-zipcode span,.popup-zipcode.open,.popup-zipcode a{
    display: block;
}
.popup-zipcode .input-with-map {
    position: relative;
    margin-right: 5px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.header-zipcode {
   cursor:pointer ;
}
.pop-up-header{
    padding:10px 0;
    background: var(--color-pincode-validator);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color:#fff;
}

.address-wrapper{
    border: 1px solid #ccc;
}
.popup-zipcode .zip-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.pincode-validator {
    margin-bottom: 10px;
    clear: both;
}


.header-input-zip, .header-zipcode .existingZipcode {
   text-align: left;
   margin-bottom: 5px ;
   border: none ;
   background: #eee ;
   border-radius: 5px ;
   border-bottom: 1px solid #eee ;
   padding: 4px 8px ;
   padding-left: 20px ;
   color: #666 ;
   -webkit-text-fill-color: #666 ;
}
.popup-zipcode .check-pincode {
    border-radius: 5px;
    padding: 1px 18px;
    color: #fff ;
}
/* product page */
.pincode_wrapper input::-webkit-outer-spin-button, .pincode_wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.popup-zipcode {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    display: none;
  padding:20px;
}

.customer-address {
    margin-bottom: 10px;
}

.popup_zipcode-inner {
    z-index: 1;
    position: relative;
    max-width: 420px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: -webkit-center;
    text-align: center;
    border-radius: 5px;
    top: 50%;
    -webkit-box-shadow: 0px 0 5px 0;
            box-shadow: 0px 0 5px 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border-radius: 20px ;
}
.popup_zipcode-inner h4 {
    text-transform: uppercase;
    padding: 10px 0;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
    font-size: 17px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.popup_zipcode-inner .close {
    top: 12px;
    right: 10px;
    position: absolute;
    color: #fff ;
    line-height: 1;
    opacity: 1;
}
.popup-top-text,.pincode-pop-up-footer {
    padding: 10px 30px;
    padding-bottom: 0;
}
.popup-top-text p {
    margin-bottom: 18px ;
}

.popup-top-text .pra1 {
   
    padding-bottom: 10px;
}
.popup-top-text .pra2 {
    background: #ddd;
    padding: 6px;
}

.popup-zipcode .header-input-zip {
    border: 2px solid var(--color-pincode-validator) ;
    padding-left: 8px;
    width: 100%;
    box-shadow: none !important;
    outline: 0 !important;
}
.popup-zipcode .check-pincode {
/* 	 padding: 5px 18px; */
  display: -webkit-box;
  display: -ms-flexbox;
  margin-left: 20px;
  display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-size: inherit;
   text-decoration: none;
}
.popup_zipcode-inner input{
	font-size:inherit;
	  margin-bottom:0 ;
	}
    .icon-location{
        line-height: 1;
    }
    .cutomer-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #d0cbcb;
        padding:12px 15px;
        border-radius: 4px;
   }
    .cutomer-wrap svg {
        width: 35px;
        height: 35px;
   }
    .cutomer-wrap.success svg, .cutomer-wrap.success .wrap-inner {
        color: #fff;
   }
    .pin-city-wrapper {
        border-bottom: 1px solid;
   }
    .pin-city-wrapper .customer-city {
        margin-right: 2px;
   }
    .customer-address > .address {
        display: block;
        padding: 3px 0;
   }
    .customer-address > .address:first-child {
        display: inline-block;
        background: var(--color-pincode-validator);
        min-width: 150px;
        color: white;
        position: relative;
        padding: 5px;
        border-radius: 7px;
        text-align: center;
   }
    .address-wrapper {
        max-height: 200px;
        overflow-y: scroll;
   }
    .address:not(:last-child) {
        border-bottom: 1px solid #ccc;
   }
    .address {
        padding: 8px;
        text-align: left;
   }
    .address .acc-name {
        display: inline-block;
        margin: 0;
   }
    .address.selected {
        border: 1px solid var(--color-pincode-validator);
   }
    .template-customers-addresses .action-btn {
        padding-bottom: 10px;
         margin-bottom: 10px;
        border-bottom: 1px solid #000;
   }
    .action-btn.last-child-border {
        border: none;
   }
   .wrap-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}
.flexbox{
    display: flex;
}     