.search__input.field__input {
  padding-right: 5rem;
      box-shadow: none;
  outline:0;
  background:#fff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
}
.search__input.field__input:focus{
      box-shadow: none;
  outline:0;
}
.search__button .icon {
  height: 1.8rem;
}
.search__button{
background:#000;
  height: 4.5rem;
        border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
}
.search-modal__content label{
color:#000;
}
/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
