/* footer css  */
@media screen and (min-width: 750px){
.footer .grid--4-col-tablet .grid__item {
    width: calc(20% - 1rem * 3 / 5);
}

}
.footer-block .list-social{
justify-content :flex-start;
}
.footer-block .list-social__item a{
background-color:#353338;
  border-radius:50%;
  margin-right:20px;
}

#insta-feed h2{
    content: '';
    position: absolute;
    max-width: 150px;
    width: 100%;
    height: 3px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    z-index: 12;
    border: 0!important;
    background: #f58634;
}