.feddback-wrapper{
    background-color: #0160b0;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: 8px;
    left: 20px;    
}

.bottom-card{
    border-radius: 4px;
    position: relative;
}
.img-container{
    position: relative;
}
.text-layer{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}
.with-feedback{
    align-items: flex-end;
}
.img-layer{
    font-size: 0;
}
.img-layer img{
    width: 100%;
}
.cart-title h2{
    font-size: 35px;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}
@media (max-width:480px) {
    
.cart-title h2{
    font-size: 28px;
}
}
.popup-layer{
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.popup-layer.open{
    display: flex;
}
.popup{
    width: 100%;
    max-width: 80%;
    margin: auto;
    position: relative;
    z-index:1000001 ;
}
.popup .spaced-section{
    margin: 0 !important;
}
.popup-layer .overlay{
    display: none !important;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
.popup-layer  .overlay.open{
display: block !important;
}
body.scroll-block{
    overflow-y: hidden;
}
.popup .form-inner-wrapper{
    background-color: #fff;
    max-height: 96vh;
    margin-top: 2vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.card-btn{
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid  rgb(245, 134, 52);
    
}
/* custome select */
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    height: 40px;
  }
  
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .select-styled:hover {
    background-color: #f58634;
  }
  .select-styled:active, .select-styled.active {
    background-color: #f58634;
  }
  .select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
  }
  
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f5f5f5;
  }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #7a7a7a;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .select-options li:hover {
    color: #fff;
    background: #f58634;
  }
  .select-options li[rel="hide"] {
    display: none;
  }
