.best-seller-nav{
justify-content: space-between;
}
.best-seller-nav span{
    cursor:pointer;
}
.best-seller .grid__item{
    text-align: center;
}
.best-seller .price{
    justify-content: center;
}
.price-compare + .price-main{
    color: rgb(238, 31, 31);
}
.best-seller{
    max-width:90%;
    width: 100%;
    margin: auto;
    padding: 0 !important;
}
.card__inner{

    padding: 40px 20px;
}
.card-information__text{
    font-size: 1.7rem;
    color: #838383;
}
.add-btn a{
    
    text-align: center;
    display: block;
    background: #f58634;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding-bottom: 3px;
    width: 80%;
    margin: auto;
    margin-top: 10px;

}
.best-seller-nav .add-border{
    border-bottom:solid 1px #ff8125;
}
.best-seller-nav-item{
    text-transform: uppercase;
    font-size: 18px;
}
.explore{
    text-align: center;
    position: relative;
}
.explore-button{
    display: flex;
    background-color: #b3aaaa;
    margin: auto;
    width: fit-content;
    align-items: center;
    padding: 8px 14px;

    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
    z-index: 2;
    color: #fff;
    border: 1px solid #b3aaaa;
}
.explore-button img{
    margin-left: 10px;
    width: 16px;
}
.explore::before{
    content: '';
    position: absolute;
    color: #b3aaaa;
    background-color: #b3aaaa;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    z-index: -1;
}