.blog-articles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  grid-auto-rows:min-content ;
}
.blog-articles .blog-page-title{
grid-column: span 2;
}

.blog-nav-link a{
  color: #fff;
  background: #ccc;
  border: 1px solid rgb(150, 149, 149);
  display: block;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}
.blog-nav-link.active{
  background: #f58634; 
}
.body--blog .make-your-own-box .image-with-text{
  min-height: 300px;
  margin: 50px 0;
}
.blog-nav-link{
flex: 1;

}
.blogs-nav{
  display: flex;
  gap: 15px;
}
.blog-nav-link a:hover{
  background: #f58634;
}
.recipe-menu a{
  text-decoration: none;
  color: inherit;
}
.recipe-menu,.blogs-nav{
  margin-top: 20px;
}
.recipe-menu{
  border: 1px solid rgb(150, 149, 149);
  padding: 15px;
}
.blogs-main-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas:
        "articles articles articles sidebar";

}
.blogs-main-wrapper .blog-articles{
  grid-area: articles;
}
.blog-sidebar{
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-blog .article-card{
  height: auto;
}
@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: repeat(3,1fr);
  }

  .blog-articles .blog-page-title{
    grid-column: span 3;
  }
}
