.business-partnership .navigation{
  background-color: transparent;
}
.business-partnership .navigation.bg{
  background-color: #f58634;
}
.contact img {
  max-width: 100%;
}
.title{
  margin: 0;
  text-align: center;
}
.title h3{
  color: #878787;
  text-align: center;
  /* font-weight: 600; */
  margin-top: 0;
  /* padding-bottom: 15px; */
}
.form-inner-wrapper{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
}

.form-inner-wrapper .field > *{

  border-radius: 8px;
  outline: 0 !important;
  box-shadow: none !important;
}
.contact .field {
  margin-bottom: 1.5rem;
  border-radius: 8px;
  color: #7b7b7b;
}
.contact.form .field{
  background-color: #f5f5f5;
  border: 1px solid #7b7b7b;
}

@media screen and (min-width: 750px) {
  .contact.form .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}
.secendory-label{
  position: absolute;
  background: whitesmoke;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0 !important;
  padding: 9px 15px;
  font-size: 1.6rem !important;
  pointer-events: none;
}
.inner-txt span{
  font-size: 22px;
    line-height: 1;
    margin-right: 5px;
}
.resume{
  display: flex;
  justify-content: space-between;
}
.business_form-contact{
  max-width: 1199px;
  margin: 0 auto;
}
.space_left-business{
  padding-left: 60px;
}
.business_form-contact .business_heading{
  font-size: 27px;
}
.business_info p{
  font-size: 19px;
}
.business_author{
  text-align: -webkit-right;
  text-align: right;
  font-size: 32px;
  color: #f58634;
  margin-bottom: 30px;
}
.form-inner-wrapper .section-title{
  font-size: 42px;
}
.business_form-btn{
  max-width: 200px;
  height: 60px;
}
@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
/* custome */
.contact__fields.selecte{
  grid-template-columns: auto 1fr;
  margin-bottom: 2rem;
}
.selecte > *{
  color: inherit;
  padding: 1.5rem;
}
.selecte select{
outline: 0;
box-shadow: none;
border-radius: 8px;
background-color: #f5f5f5;
}
.selecte option:hover{
  background-color: #f58634;
  color: #fff;
}
.contact__button{
  text-align: center;
}
.contact__button button{
  background-color: #a6a6a6;
  border: 0 !important;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 23px;
  border-radius: 5px
}
.below-border{
  border-bottom:1px solid #7b7b7b;
  margin-left: -31px;
  margin-right: -31px;
  padding: 0 31px;
}
.careers textarea{
  min-height: auto;
}
.careers .contact__fields:last-child .field{
  margin-bottom: 0;
}
.below-border a{
  display: inline !important;
  text-transform: capitalize !important;
  color:var(--color-pincode-validator) !important;
}
.text-left{
  text-align: left;
}
.bottom-wraprer-form .section-title{
  font-size: 22px;
}
.bottom-wraprer-form .section-title::after{
  left: 0;
  transform: translate(0 , 0);
}


.popup.feedback .field__input{
  padding: 5px;
  height: auto;
}
.popup.feedback .form-inner-wrapper .field>*{
  border-radius: 4px;
}
.popup.feedback .contact__fields{
  line-height: 1;
}
.mini{
  display: block;
}
.popup.feedback .field{
  margin-bottom: 1rem;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.popup.feedback .contact__fields{
  display: flex;
}
.label{
  flex-basis: 370px;
  flex-grow: 0;
  gap:8px;
  flex-shrink: 5;
}
.popup.feedback textarea.field__input{
  height: 7rem;
  min-height: 7rem;
}
@media (max-width:640px) {
  .popup.feedback .contact__fields{
    flex-wrap: wrap;
   

  } 
}
.feedback .feeback-select{
  margin-left: 1rem;
  margin-bottom: 0 !important;
  border-radius: 8px;
}
.feeback-select .select-styled{
  line-height: 27px;
}

.feedback .contact__fields{
  align-items: center;
}