.faq-card{
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 25px;
}
.faq-wrapper{
    margin-bottom: 25px;
}
.faq-inner{
    padding-left: 25px;
}
.question{
    position: relative;
}
.question::before{
    content: "\203A";
    position: absolute;
    display: block;
    color: #f58634;
    line-height: 0;
    left: -22px;
    font-size: 50px;
    top: 15px;
    width: 15px;
    height: 15px;
    transition: 0.2s ease-in-out;
}
.question.open::before{
    transform: rotate(90deg);
}