.section-nav{
width: 100%;
line-height: 1.42857;
font-size: 1rem;
color: #000;
text-align: center;
display: inline-block;
position: relative;
padding-bottom: 37px;
}
.section-images-wrapper{
display: flex;
align-items: flex-end;
width: 100%;
min-height: 34vh;
}
@media (min-width:1220px) {
    .section-images-wrapper{
        min-height:276px;
        }
}
.our-journey{
    background-color: #f3f3f3;
    padding-top: 3rem;
    margin-bottom: 2rem;
}
.section-images-wrapper img{
width:100%;
border-radius: 8px;
}  
.year-img{
transition: all 0.5s ease-in;
font-size:0;
flex:1;
min-width: 150px;
margin:0 8px;
}
.year-img {
    position: relative;
}
.year-img::before{
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    background: rgba(0,0,0,0.5);
}
.year-img.active{
    flex:1.5;
}
.year-img.active::before{
background-color: transparent !important;

}
.section-nav li:after {
position: absolute;
left: 50%;
right: auto;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
content: "";
width: calc(100%);
bottom: -22px;
height: 9px;
background-color: #f97e20;
}
.section-nav ul{

line-height: 1.42857;
font-weight: 500;
font-size: 1rem;
color: #000;
text-align: center;
margin-bottom: 10px;
display: flex;
flex-direction: row;
padding: 0;
list-style: none;
margin-top: 21px;
align-items: flex-end;
}
.section-nav li{    
font-size: 1.5rem;
letter-spacing: 0.0125rem;
position: relative;
padding: 0;
font-weight: 400;
list-style: none;
text-align: center;
margin-bottom: 5px;
flex:1;
width: 100%;
min-width: 166px;
line-height: 1;
}

.up-sec{
    overflow-x: scroll;
}
.year::before {
position: absolute;
bottom: -26px;
left: 50%;
content: "";
width: 9px;
height: 10px;
-webkit-transform: translateX(-50%) rotate(45deg);
transform: translateX(-50%) rotate(45deg);
background: #f97e20;

}  
.year span{
cursor:pointer;
}
/* launched products */
.product-slide{
    /* min-height: 300px !important; */
    background-size: cover;
    position: relative;
    background-position: center;
}
.pro-img{
    opacity: 0;
    width: 100%;
}
.product-details{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 20px;
    max-width:60%;
}
.description{
    text-align: left;
}
.product-details .banner__buttons a{
    background-color: transparent !important;
    border-radius: 4px;
   padding: 2px;
    min-width: 0;
    min-height: 0;
    margin-top: 15px;
    box-shadow: none;
}