.bottom-card{
    border-radius: 4px;
    position: relative;
}
.text-layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-layer img{
    width: 100%;
}
.cart-title h2{
    font-size: 35px;
    color: #fff;
}
.card-btn{
    color: #fff;
    background-color: rgb(245, 134, 52);
}