.page-title {
  margin-top: 0;
}
.page-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px,auto);
  grid-template-areas: "page-content page-content page-content topimage" "page-content page-content page-content bottomimage";

}
.page-wrapper img{
  width: 100%;
  border-radius: 8px;
}
@media (min-width:641px) {
  .desk{
    display: block;
  }  
  .mobile{
    display: none;
  }
}
@media (max-width:640px) {
  .desk{
    display: none;
  }

  .page-wrapper{
    grid-template-areas: "bottomimage bottomimage topimage topimage" "page-content page-content page-content page-content";
  }
  .page-wrapper img{
    max-height:300px;
    object-fit: cover;
    object-position: top;

  }
}

.rte{
  grid-area: page-content;
}
.images-top{
  grid-area: topimage;
}
.images-bottom{
  grid-area: bottomimage;
}
.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
