.best-seller-nav{
    gap:2rem;
}
.best-seller-nav span{
    cursor:pointer;
}
.best-seller-nav .add-border{
    border-bottom:solid 1px #ff8125;
}
.explore{
    text-align: center;
    position: relative;
}
.explore-button{
    background-color: #b3aaaa;
    display: inline-block;
    padding: 8px 14px;
    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
    z-index: 2;
    color: #fff;
    border: 1px solid #b3aaaa;
}
.explore::before{
    content: '';
    position: absolute;
    color: #b3aaaa;
    background-color: #b3aaaa;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    z-index: 1;
}