
.section-images-wrapper{
display: flex;
align-items: flex-end;
width: 100%;
min-height: 34vh;
}
@media (min-width:1220px) {
    .section-images-wrapper{
        min-height:276px;
        }
}
.our-journey{
    background-color: #f3f3f3;
    padding-top: 3rem;
    margin-bottom: 2rem;
}
.section-images-wrapper img{
width:100%;
border-radius: 8px;
}  
.year-slide{
    transition: all 0.5s ease-in;
    font-size:0;
    flex:1;
    min-width: 150px;
    margin:0 8px;
    position: relative;
}

.year-img::before{
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 63px;
    border-radius: 8px;
    background: rgba(0,0,0,0.5);
}
.year-slide.active{
    flex:1.5;
}
.year-slide.active .year-img::before{
background-color: transparent !important;

}

span.year {
    display: block;
    margin-top: 35px;
}
.nav-link::before {
    position: absolute;
    background: #f97e20;
    content: "";
    display: block;
    left: 50%;
    width: 9px;
    top: -11px;
    height: 10px;
    -webkit-transform:translate(-50%, -50%) rotate(45deg);
    transform:translate(-50%, -50%) rotate(45deg);
} 
.nav-link:after {
    background-color: #f97e20;
    content: "";
    display: block;
    height: 9px;
    width: calc(100% + 16px);
    transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
} 
.nav-link{    
font-size: 1.5rem;
letter-spacing: 0.0125rem;
position: relative;
padding: 0;
font-weight: 400;
list-style: none;
text-align: center;
margin-bottom: 5px;
flex:1;
width: 100%;
min-width: 166px;
line-height: 1;
}



.year span{
cursor:pointer;
}
/* launched products */
.product-slide{
    /* min-height: 300px !important; */
    background-size: cover;
    position: relative;
    background-position: center;
}
.pro-img{
    opacity: 0;
    width: 100%;
}
.product-details{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 20px;
    max-width:60%;
}
.description{
    text-align: left;
}
.product-details .banner__buttons a{
    background-color: transparent !important;
    border-radius: 4px;
   padding: 2px;
    min-width: 0;
    min-height: 0;
    margin-top: 15px;
    box-shadow: none;
}


/* responsive */
@media (max-width:480px) {
    .slide-wrapper{
        line-height: 1.5;
    }
}
@media (max-width:1030px) {
    .up-sec{
        overflow-x: scroll;
    }
}