.blog-articles .blog-page-title{
  grid-column: span 2;
  }
  nav.breadcrumb.page-width{
    padding: 15px 0 !important;
  }
  .body--blog h3{
    font-weight: 700;
    margin-bottom: 0;
  }
  .main-blog .breadcrums{
    opacity: 0.6;
  }
  .blog-search .search__input{
    background-color: #f2f2f2;

  }
  .blog-search{
    border-radius: 5px;
  }
  /* blog menu */
  .header__submenu{z-index: 2;}
  .blog-search .search-modal__content{
    width: 100%;
  }
  
  
.blogs-menu nav >ul > li ul li:not(:last-child) {
  border-bottom: 1px solid #f58634;
}
.blogs-menu nav >ul > li ul li:hover{
background-color:#f58634;
}
@media (min-width:750px) {
  .blogs-menu nav >ul > li ul li:hover{
    min-width: 30rem;
    } 
}
.blogs-menu nav >ul > li ul li:hover a{
  color: #fff;
  }
  .header__submenu.list-menu{
    padding: 0 !important;
  }
  .product-popup-menu{
    border: 2.5px solid #f58634;
  }
  /* end */
  .image-box{
    opacity: 0;
  }
  .blogs-main-wrapper{
    display: grid;
  grid-template-columns: repeat(4,1fr);
    gap: 35px;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas:
        "articles articles articles articles";
  }
  .blog-nav-link .main-link{
    color: #fff;
    background: #97989a;
    border: 1px solid #969595;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
  }
  .blog-nav-link.active{
    background: #f58634; 
  }
  .grid-with-sidebar {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(4,1fr);
  }
  .bottom-sidebar{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .blog-container{
    display: grid;
    grid-column: span 4;
    grid-template-columns: repeat(1,1fr);
  grid-auto-rows: min-content;
  gap: 25px;
  }
  .body--blog .make-your-own-box .image-with-text{
    min-height: 300px;
    margin: 50px 0;
  }
  .blog-nav-link{
  flex:1;
  
  }
  .blogs-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .blog-nav-link .main-link:hover,.blog-nav-link .main-link.active{
    background: #f58634;
  }
  .date{
    color: #f58634;
  }
  .recipe-menu a{
    text-decoration: none;
    color: inherit;
  }
  .blog-search use{
    color: #fff;
  }
  .recipe-menu,.blogs-nav{
    margin-top: 20px;
  }
  .recipe-menu{
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    padding: 15px;
  }
  
  .blogs-main-wrapper .blog-articles{
    grid-area: articles;
  }
  
  .main-blog .article-card{
    height: auto;
  }
  @media screen and (min-width:481px) {
    .blog-articles {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(2,1fr);
      gap: 25px;
      grid-auto-rows:min-content ;
    }
  }
  @media screen and (min-width: 750px) {
    .blog-articles {
      grid-template-columns: repeat(3,1fr);
    }
  
    .blog-articles .blog-page-title{
      grid-column: span 3;
    }
    nav.breadcrumb.page-width{
      margin-left: -20px !important;
    }
  }
  .bottom-sidebar,.body--blog .banner__content,.blog-sidebar{
    display: none;
   }
   .bottom-sidebar img{
     width: 100%;
     border-radius: 8px;
   }

  @media (min-width:1024px) {
    .blog-container{
      grid-column: span 3;
    }
    .bottom-sidebar{
      display: flex;
      line-height: 1;
      font-size: 0;
    }
    .blog-sidebar{
      grid-area: sidebar;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .blogs-main-wrapper{
      grid-template-areas:
          "articles articles articles sidebar";
    }
  }
  /* custome style */
  .recipe-nav .pipe{
font-weight: 700;
  }
  
  .recipe-nav span:first-child{
    color: #f58634 !important;
  }
  .recipe-nav-link{
    color: #4f4f4f;
  } 
  .blogs-menu .list-menu--disclosure{
    min-width: 27rem;
  }