.main-wrapper{
    display: flex;
    padding-top: 5px;
}
.product-item{
    padding: 0 3rem;
    text-align: center;
}
.pro-img{
    padding: 10px;
    padding-bottom: 0;
}
.product-item img{
    margin: auto;
}
.tab{
    position: relative;
    background-color: #999999;
    padding: 5px;
    padding-left: 15px;
    margin-bottom:5px;
}
.tab::before {
    content: '';
    width: 0;
    height: 0;
    z-index: 2;
    border-left: 31px solid transparent;
    border-right: 37px solid transparent;
    border-bottom: 25px solid #fff;
    position: absolute;
    right:10px;
    top: 50%;
    transform: translateY(-50%);
}
.tab.active,.add-btn{
    color: #fff;
    background-color: var(--color-pincode-validator);
    padding: 5px;
}
.accordian{ 
 margin-bottom:5px;
}
.tab,.accordian,.add-btn{
  
 border-radius: 6px;
}
.accordian{
 background-color: #ccc;
}
.left-part{
    max-width: 50%;
    width: 100%;
}