.faq-card{
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 25px;
}
.faq-wrapper{
    margin-bottom: 25px;
}
.faq-inner{
    padding-left: 25px;
}
.question{
    position: relative;
}
.question::before{
    content: "\203A";
    position: absolute;
    display: block;
    color: #f58634;
    left: -22px;
    font-size: 50px;
    top: 4px;
    width: 15px;
    height: 15px;;
}