.article-template > *:first-child:not(.breadcrums) {
  margin-top: 5rem;
}
.article-search .search-modal__content{
  width: 100%;
}
.article-search .search__input{
  background-color: #f2f2f2;
}
.article-search{
  border-radius: 5px;
  margin-top: 10px;
}
.ingredients .media{
  padding-bottom: 100%;
}
.ingredients  *{
  text-align: center;
}
.ingredients-wrapper{
  border: 2px solid #ccc;
  border-radius: 5px ;
  padding: 20px;
  
}
.secheader{
  background-color: #f2f2f2;
  overflow: auto;
  border-radius: 5px ;
  margin-bottom: 20px;
  font-weight: 700;
}
.secheader h3{
  margin: 8px 0;
}

.ingredients .grid__item{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.ingredients .grid__item .card-wrapper{
  flex:1;
}
.ingredients .grid__item .card-wrapper a{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}
.btn{
  background-color:rgb(245, 134, 52);
  border-radius: 4px;
  text-align: center;
  color:#fff;
  margin: auto;
  width: 80%;
  cursor: pointer;
  margin-top: 10px;
}
.bulk-add-button{
  width:fit-content;
  padding: 5px 15px;
  
}
.price{
  justify-content: center !important;
}
.ingredients-inner{
  border-radius: 4px;
  margin-left: 0 !important;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
padding:10px 8px;
}
@media screen and (min-width: 1320px) {
  .article-template__hero-container:first-child {
    margin-top: 5rem;
  }
}

.article-template__hero-medium {
  height: 15.6rem;
}

.article-template__hero-large {
  height: 19rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-medium {
    height: 34.9rem;
  }

  .article-template__hero-large {
    height: 42.3rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-medium {
    height: 54.5rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

.article-template header {
  margin-bottom: 2rem;
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-underline-offset: 0.3rem;
}

.article-template__link:hover {
  text-decoration-thickness: 0.2rem;
}

.article-template__link svg {
  width: 1.5rem;
  transform: rotate(180deg);
  margin-right: 1rem;
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  display: flex;
  align-items: center;
  justify-content: end;
}
.article-template__comment-wrapper {
  margin-top: 5rem;
}
.social-container > :first-child{
  text-align-last: left;
}
.social-container > :last-child{
  text-align-last: right;
}
@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: var(--color-foreground-75);
  background-color: var(--color-background);
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
  
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

/* articles custome css */
.article-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: min-content;
}
.article-wrapper > *{
  margin: 0 10px;
}
.article-wrapper{
margin: auto !important;
}
.article-template{
  grid-column:span 2;
}
.social-container{
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 12px;
  align-items: center;
}
.social-container > *{
  flex: 1 1 auto;
}
.social-container .list-social__link{
  padding: 0.3rem;
  background-color: #000;
  border-radius: 50%;
  margin: 0px 1px;
  color: #fff;
}
.article-template__title{
  text-align: center;
  text-transform: capitalize;
}
.article-header-card{
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
padding:10px 8px;
}

.date{
  color: rgb(245, 134, 52);
}
.article-card__title a{
  text-decoration: none;
}
@media (max-width:749px) {
  .article-template{
    grid-column:span 4;
  }
  .article-sidebar{
    display: none;
  }
}
.tooltip1:hover { background: #f58d3f; border-radius: 50%;}
/* svg.icon.icon-twitter,
svg.icon.icon-pinterest:hover {color: #fff;} */
a.list-social__link.link.link--text.tooltip1 img.icon{height: 1.4rem; width: 1.4rem;}
.article-header-card svg.icon.icon-twitter,
svg.icon.icon-pinterest{ height: 1.4rem; width: 1.4rem;}
.art_crt { border: 1px solid;}
h2.article-card__title.h3 a { color: #000;}